In [9]:
import pandas as pd

In [10]:
file_path = '/content/drive/MyDrive/Data/HRDataSet.xlsx'
df = pd.read_excel(file_path)
df.head()

,EmpID,Name,ID No.,Dep,Gender,DOB,Age,PayType,Position,Branch,Place of Birth,Hire date,Years no.,Salary,Unnamed: 14,Unnamed: 15
0,52578,Emp 1,29501260170832,Maintenance,Male,1995-01-26,28,Part Time,Manager,Giza,Cairo,2000-02-27,23,21000,NaN,NaN
1,50880,Emp 2,28411241364134,Logistics,Male,1984-11-24,38,Part Time,Employee,Alexandria,Sharqia,2003-07-10,20,5008,NaN,NaN
2,57337,Emp 3,29210092190635,Manufacturing,Male,1992-10-09,30,Part Time,Employee,Ismailia,Giza,2012-01-12,11,3009,NaN,NaN
3,55115,Emp 4,28806191791181,Administration,Female,1988-06-19,35,Full Time,Employee,Giza,Monufia,2001-09-05,22,5313,NaN,NaN
4,59675,Emp 5,28509210163576,Compliance,Male,1985-09-21,38,Part Time,Employee,Ismailia,Cairo,1998-06-29,25,6194,NaN,NaN

# EDA & Cleaning

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   EmpID           1000 non-null   int64
 1   Name            1000 non-null   object
 2   ID No.          1000 non-null   int64
 3   Dep             1000 non-null   object
 4   Gender          1000 non-null   object
 5   DOB             1000 non-null   datetime64[ns]
 6   Age             1000 non-null   int64
 7   PayType         1000 non-null   object
 8   Position        1000 non-null   object
 9   Branch          1000 non-null   object
 10  Place of Birth  1000 non-null   object
 11  Hire date       1000 non-null   datetime64[ns]
 12  Years no.       1000 non-null   int64
 13  Salary          1000 non-null   int64
 14  Unnamed: 14     0 non-null      float64
 15  Unnamed: 15     1 non-null      object
dtypes: datetime64[ns](2), float64(1), int64(5), object(8)
memory usage: 125.1+ KB

In [12]:
df.tail()

,EmpID,Name,ID No.,Dep,Gender,DOB,Age,PayType,Position,Branch,Place of Birth,Hire date,Years no.,Salary,Unnamed: 14,Unnamed: 15
995,50321,Emp 996,28102281373948,Logistics,Female,1981-02-28,42,Part Time,Employee,Ismailia,Sharqia,2008-11-29,14,5611,NaN,NaN
996,59286,Emp 997,28802111953337,Manufacturing,Male,1988-02-11,35,Part Time,Employee,Cairo,Ismailia,1999-07-17,24,3840,NaN,NaN
997,51746,Emp 998,27707031388063,Human Resources,Female,1977-07-03,46,Part Time,Supervisor,Cairo,Sharqia,2014-11-12,8,14386,NaN,NaN
998,54321,Emp 999,28301191352368,Human Resources,Female,1983-01-19,40,Full Time,Employee,Giza,Sharqia,2013-02-24,10,3141,NaN,NaN
999,50846,Emp 1000,28802231790654,Operations,Male,1988-02-23,35,Part Time,Supervisor,Cairo,Monufia,2013-03-21,10,7000,NaN,NaN

In [13]:
df.columns

Index(['EmpID', 'Name', 'ID No.', 'Dep', 'Gender', 'DOB', 'Age', 'PayType',
       'Position', 'Branch', 'Place of Birth', 'Hire date', 'Years no.',
       'Salary', 'Unnamed: 14', 'Unnamed: 15'],
      dtype='object')

In [14]:
df['Unnamed: 14'].nunique()
df['Unnamed: 15'].nunique()

1

In [15]:
df.isnull().sum()

EmpID                0
Name                 0
ID No.               0
Dep                  0
Gender               0
DOB                  0
Age                  0
PayType              0
Position             0
Branch               0
Place of Birth       0
Hire date            0
Years no.            0
Salary               0
Unnamed: 14       1000
Unnamed: 15        999
dtype: int64

In [16]:
df.duplicated().sum()

0

In [17]:
df.dtypes

EmpID                      int64
Name                      object
ID No.                     int64
Dep                       object
Gender                    object
DOB               datetime64[ns]
Age                        int64
PayType                   object
Position                  object
Branch                    object
Place of Birth            object
Hire date         datetime64[ns]
Years no.                  int64
Salary                     int64
Unnamed: 14              float64
Unnamed: 15               object
dtype: object

In [18]:
df = df.drop(columns=['Unnamed: 14', 'Unnamed: 15'])

# What are the salaries of PayType of each department?

In [19]:
avg = df['Salary'].mean().round(2)

salary_avg = df[df['Salary'] > avg]

pd.pivot_table(
    data = salary_avg,
    index = 'Dep',
    columns = 'PayType',
    values = 'Salary',
    aggfunc = ['sum', 'mean']
)

                        sum                    mean
PayType           Full Time Part Time     Full Time     Part Time
Dep
Administration       294539    256503  17325.823529  19731.000000
Compliance           274189    749183  18279.266667  19715.342105
Human Resources      208090    269231  17340.833333  16826.937500
Logistics            115705     78661  16529.285714  19665.250000
Maintenance          542630    431880  18087.666667  16610.769231
Manufacturing         70059    266053  14011.800000  19003.785714
Marketing            283046    370664  17690.375000  18533.200000
Operations           126802    419071  18114.571429  17461.291667
Quality Assurance    339299    215527  18849.944444  17960.583333
Training             260102    388155  18578.714286  19407.750000

# What is the gender distribution across different PayType and their salaries?

In [20]:
pd.pivot_table(
    data = df,
    index = 'Gender',
    columns = 'PayType',
    values = 'Salary',
    aggfunc = ['sum', 'mean', 'count']
)

              sum                   mean                  count
PayType Full Time Part Time    Full Time    Part Time Full Time Part Time
Gender
Female    1384081   1577774  8543.709877  9620.573171       162       164
Male      2806164   3558025  9110.922078  9721.379781       308       366

# What is the gender distribution across different branches?

In [21]:
pd.pivot_table(
    data = df,
    index = 'Branch',
    columns = 'Gender',
    values = 'Salary',
    aggfunc = ['count']
)

            count
Gender     Female Male
Branch
Alexandria     69  119
Cairo          64  139
Giza           65  139
Ismailia       62  130
Sharqia        66  147

# What is the gender distribution across different departments?

In [22]:
recent_hired = df[df['Hire date'] < '2010-1-1']

pd.pivot_table(
    data = recent_hired,
    index = 'Gender',
    columns = 'Dep',
    values = 'Salary',
    aggfunc = ['count']
)

                count                                                   \
Dep    Administration Compliance Human Resources Logistics Maintenance
Gender
Female             28         38              22         5          33
Male               42         75              45        20          66


Dep    Manufacturing Marketing Operations Quality Assurance Training
Gender
Female            18        29         27                18       25
Male              36        38         48                44       51

# What is are the salaries of each department based on the position?

In [23]:
highest = df['Salary']

pd.pivot_table(
    data = df,
    index = 'Dep',
    columns = 'Position',
    values = 'Salary',
    aggfunc = ['max','sum','mean','count']
)

                       max                         sum                     \
Position          Employee Manager Supervisor Employee Manager Supervisor
Dep
Administration        6782   29292      14857   297519  351552     199490
Compliance            6902   29992      14592   547487  773690     249682
Human Resources       6954   29539      14570   320149  285965     191356
Logistics             6314   29166      14412   116480  120531      73835
Maintenance           6905   29731      14997   396660  632384     342126
Manufacturing         6985   29868      14913   318748  197675     138437
Marketing             6951   29258      14515   299488  441335     212375
Operations            6894   29051      14875   394552  326443     226430
Quality Assurance     6913   29480      14390   306860  368486     186340
Training              7000   29732      14917   361712  456407     191850

                          mean                                count          \
Position              Employee       Manager    Supervisor Employee Manager
Dep
Administration     4958.650000  23436.800000  13299.333333       60      15
Compliance         4845.017699  24177.812500  11889.619048      113      32
Human Resources    5002.328125  21997.307692  12757.066667       64      13
Logistics          4853.333333  24106.200000  12305.833333       24       5
Maintenance        5219.210526  21806.344828  12671.333333       76      29
Manufacturing      5225.377049  24709.375000  12585.181818       61       8
Marketing          5076.067797  23228.157895  12492.647059       59      19
Operations         4994.329114  23317.357143  12579.444444       79      14
Quality Assurance  5030.491803  24565.733333  12422.666667       61      15
Training           4888.000000  22820.350000  13703.571429       74      20


Position          Supervisor
Dep
Administration            15
Compliance                21
Human Resources           15
Logistics                  6
Maintenance               27
Manufacturing             11
Marketing                 17
Operations                18
Quality Assurance         15
Training                  14